@import 'base';

.container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: $fondo-carrusel;
    overflow: hidden;

    .slider {
        input{
            visibility: hidden;
             display: none;
        }
    }

    .buttons{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 2%;
        gap: 10px;

        label{
            width: 20px;
            height: 20px;
            background-color: white;
            opacity: 0.5;
            cursor: pointer;
            z-index: 1;
            transition: 300ms ease-in-out;

            &:hover{
                scale: 1.2;
                opacity: 1;
            }
        }
    }

    .content{
        position: relative;
        width: 400vw;
        display:flex; 
        transition: 400ms ease-in-out;
        white-space: nowrap;

        .slide{
            position: relative;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }

    .slider input:checked ~ .content{
            left: calc(-100vw *(var(--index) -1));
    }

    .slider #slide-1:checked ~ .content {left: 0;}
    .slider #slide-2:checked ~ .content {left: -100vw}
    .slider #slide-3:checked ~ .content {left: -200vw}
    .slider #slide-4:checked ~ .content {left: -300vw}
    
}